.resetForm input{
  margin: 8px;
  border-radius: 5px;
  min-width: 300px;
  height: 2em;
  text-align: left;
  background-color: #ccc;
}

.resetForm button{
  margin: 8px;
  border-radius: 5px;
  text-align: center;
  min-width: 300px;
}
